<html>

<head>
	<meta charset="utf-8">
	<title>something </title>
	<script src="jquery.js"> </script>
	<script src="https://chatonline123.herokuapp.com/socket.io/socket.io.js"></script>
	<script src="xuly.js"> </script>
	<link rel="stylesheet" type="text/css" href="layout.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="wapper">

		<div id="chatForm" class="table-wrapper">
			
			<table class="fl-table" id=''>
				<thead>
					<tr>
						<th>ID</th>
						<th>User Name</th>
						<th>Timestamp</th>
					</tr>
				</thead>
				<tbody id='tbl_id'>
					<!-- <tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>Mary</td>
						<td>Moe</td>
						<td>mary@example.com</td>
					</tr>
					<tr>
						<td>July</td>
						<td>Dooley</td>
						<td>july@example.com</td>
					</tr> -->
				</tbody>
			</table>

		</div>
</body>


</html>